@import '../../assets/styles/colors.scss';

$border-color: $light-grey;

.catalog-item {
  display: flex;
  flex-direction: column;
  background: $catalog-item-background;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #bbb;

  &.catalog-item_list-mode {
    flex-direction: row;
  }

  .catalog-item__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 0 0 4px;
    border-bottom: 1px solid $border-color;
  }

  .catalog-item__attributes {
    flex-grow: 1;
  }

  .catalog-item__description {
    margin-top: 8px;
    padding: 4px 0 0;
    border-top: 1px solid $border-color;
  }
}

.catalog-item-header__id {
  color: $primary;
}