@import "../../assets/styles/width.scss";
@import "../../assets/styles/colors.scss";

$border-color: $light-grey;

.catalog-item {
  display: flex;
  flex-direction: column;
  background: $catalog-item-background;
  padding: 12px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px #bbb;

  &.catalog-item_list-mode {
    @media (min-width: $tablet-portrait-width) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  .catalog-item__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 0 0 4px;
    border-bottom: 1px solid $border-color;
  }

  .catalog-item__attributes {
    flex-grow: 1;
  }

  .catalog-item__description {
    margin-top: 8px;
    padding: 4px 0 0;
    border-top: 1px solid $border-color;
  }
}

.catalog-item_list-mode {
  .catalog-item__header {
    @media (min-width: $tablet-portrait-width) {
      border: none;
      margin: 0 24px 0 0;
    }
  }

  .catalog-item__header {
    @media (min-width: $tablet-portrait-width) {
      margin-bottom: 0;
      flex-basis: calc(30% - 24px);
      justify-content: flex-start;
    }
  }

  .catalog-item__attributes {
    @media (min-width: $tablet-portrait-width) {
      flex: 0 0 70%;
    }
  }

  .catalog-item__description {
    @media (min-width: $tablet-portrait-width) {
      flex-basis: 100%;
    }
  }
}

.catalog-item-header {
  .catalog-item-header__id {
    margin: 0 0 0 12px;
  }
}

.catalog-item-header_list-mode {
  .catalog-item-header__id {
    order: -1;
    margin: 0 12px 0 0;
  }
}

.catalog-item-header__id {
  color: $primary;
}

.catalog-item-attributes_list-mode {
  display: flex;
  flex-wrap: wrap;

  .catalog-item-attributes__attribute {
    margin: 8px;
    display: inline-block;
    vertical-align: top;
  }
}
