@import './colors.scss';

.btn {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  padding: 4px 12px;
}

.btn-inline {
  display: inline-block;
  margin: 0 5px;
}

.btn:disabled,
.btn[disabled] {
  opacity: 0.7;
  cursor: default;
}

.btn-primary,
.btn-primary:disabled:hover,
.btn-primary[disabled]:hover,
.btn-primary:disabled:focus,
.btn-primary[disabled]:focus {
  border-radius: 4px;
  background: $primary linear-gradient(to right, $primary, darken($primary, 5%));
  color: white;
}

.btn-primary:hover,
.btn-primary:focus {
  background: lighten($primary, 5%);
  outline: none;
  border: none;
}

.btn-secondary,
.btn-secondary:disabled:hover,
.btn-secondary[disabled]:hover,
.btn-secondary:disabled:focus,
.btn-secondary[disabled]:focus {
  border-radius: 4px;
  background: $secondary linear-gradient(to right, $secondary, darken($secondary, 5%));
  color: white;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background: lighten($secondary, 15%);
  outline: none;
  border: none;
}